html{
  background-color:#DEDEDE;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color:#262626;
}

.header{
  background-color:#C7F994;
  border-bottom-style:solid;
  border-bottom-color:#181818;
  width:100%;
  height:20%;
  padding-left:10px;
  position: absolute;
  left: 0;
  top: 0;
}

footer{
  background-color:#C7F994;
  border-top-style:solid;
  border-top-color:#181818;
  width:100%;
  height:7.5%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.content{
  float:left;
  background-color:#f2f2f2;
  border-style:solid;
  border-color:#181818;
  top:25%;
  left:2%;
  position:absolute;
  height:60%;
  width: 60%;
  overflow: scroll;
  padding-left:5px;
}

.navi{
  float:right;
  background-color:#f2f2f2;
  border-left-style: solid;
  border-top-style: solid;
  border-color:#181818;
  height:80%;
  width:15%;
  position: absolute;
  left: 85%;
  top: 20%;
}
a:link {
  color: #262626;
  text-decoration: none;
}

a:visited {
  color: #4f4f4f;
  text-decoration: none;
}

a:hover {
  color: #4f4f4f;
  text-decoration: underline;
}
